<main>
    <section class="auth-section">
        <img src="assets/catlogo.svg" alt=""/>
        <h2>{{ mainTitle }}</h2>

        <ng-content>
        </ng-content>

        <div class="btn-wrapper">
            <button class="btn-primary" (click)="submit()" [disabled]="disablePrimaryBtn">
                {{ primaryBtnText }}
            </button>
            <div class="divider">
                <div></div>
                <span>or</span>
                <div></div>
            </div>
            <button class="btn-secondary" (click)="navigate()">
                {{ secondaryBtnText }}
            </button>
        </div>
    </section>

    <section class="main-section">
      <div class="content-wrapper">
        <h2>About the project and the game </h2>
        <div class="about-wrapper">
          <p>
            Este projeto tem como proprósito o desenvolvimento técnico em desenvolvimento de websites, ou seja, foi feito apenas com o intuito de aprender a desenvolver
            um website por completo, incluindo banco de dados, backend e frontend, portanto, não possui nenhum fim lucrativo, somente educacional e para diversão.
          </p>
          <p>
            O GuessCAT possui grande inspiração no site Termo,o qual você pode acesar a qualquer momento clicando <a href="https://term.ooo/" target="_blank">AQUI</a>, entretanto tem algumas variações do original, o que vale a pena ser explorado por você!
          </p>
          <p>
            <strong>-</strong> É necessário se cadastrar no site para poder jogar, como já informado, o site possui
            intuito educacional, ou seja, isso inclui autenticação e autorização, já que é um dos temas mais importantes no desenvolvimento web!
          </p>
          <p>
            <strong>-</strong> Você pode jogar quantas vezes quiser, nao se prenda a jogar apenas um por dia!
          </p>

        </div>
        <div class="text-wrapper">
          <div class="title-wrapper">
            <h3>Learn button</h3>
            <div class="image-wrapper">
              <lucide-icon name="circle-question-mark" size="32"></lucide-icon>
            </div>
          </div>
          <p>
            Caso ainda não saiba como jogar o jogo, no canto superior direito, clique neste ícone <span></span> <lucide-icon name="circle-question-mark" size="32"></lucide-icon> (recomendo para todos).
          </p>
        </div>
        <div class="text-wrapper">
          <div class="title-wrapper">
            <h3>Language button</h3>
            <div class="image-wrapper">
              <lucide-icon name="languages" size="32"></lucide-icon>
            </div>
          </div>
          <p>
            Para trocar a linguagem da INTERFACE, no canto superior direito, clique neste ícone<span></span><lucide-icon name="languages" size="32"></lucide-icon> (Somente EN e PT-BR).
          </p>
        </div>
        <div class="text-wrapper">
          <div class="title-wrapper">
            <h3>Contact button</h3>
            <div class="image-wrapper">
              <lucide-icon name="ellipsis"></lucide-icon>
            </div>
          </div>
          <p>
            Para saber mais sobre o projeto e mim, no canto superior direito, clique neste ícone<span></span><lucide-icon name="ellipsis"></lucide-icon> (ALERTA ⚠ NERDICE).
          </p>
        </div>
      </div>
      <div class="buttons-wrapper">
        <button (click)="toggleModal(ModalType.LEARN)">
          <lucide-icon name="circle-question-mark" size="32"></lucide-icon>
        </button>
        <!-- (click)="toggleModal(ModalType.LANGUAGE)" -->
        <button>
          <lucide-icon name="languages" size="32"></lucide-icon>
        </button>
        <button (click)="toggleModal(ModalType.CONTACTS)">
          <lucide-icon name="ellipsis"></lucide-icon>
        </button>
      </div>
    </section>

    <app-modal [class.open]="isModalOpen" [type]="type" (closed)="toggleModal(ModalType.CLOSE)"></app-modal>
    <div class="overlay" [class.open]="isModalOpen" (click)="toggleModal(ModalType.CLOSE)"></div>
</main>
