@import "../../../styles/variables.scss";

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 100%;

    color: $text-color;

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        height: 100%;
    }

    .auth-section {
        flex-grow: 0.1;
        padding: 0 24px;

        background-color: $bg-color;

        img {
            margin-bottom: 24px;
            height: 120px;
            width: 100%;
        }

        h2 {
            font-size: 20px;
            font-weight: bold;

            margin-bottom: 24px;
        }

        .btn-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            width: 100%;
            gap: 32px;

            .divider {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                gap: 20px;

                font-size: 16px;
                color: $bg-secondary-color;
                font-weight: 700;
                text-transform: uppercase;

                div {
                    flex-grow: 1;
                    height: 2px;
                    background-color: $bg-secondary-color;
                }
            }

            button {
                width: 100%;
                padding: 12px 24px;
    
                background: transparent;
    
                border: none;
                border-radius: 8px;
    
                font-size: 16px;
                font-weight: 500;

                cursor: pointer;

                &:disabled {
                    opacity: 0.7;
                }
    
                &.btn-primary {
                    background-color: $primary-color;
                    color: $text-color;
    
                    box-shadow: 0px 8px 12px rgba(148, 64, 255, 0.2);
                }
    
                &.btn-secondary {
                    border: 1px solid $primary-color;
                    color: $primary-color;
                }
            }
        }

    }

    .main-section {
        flex-grow: 1;
        gap: 8px;

        background-color: $bg-secondary-color;
        color: $text-color;

        h1 {
            color: $primary-color;
            font-size: 48px;
            margin-bottom: 10px;
        }
        
        h2 {
            font-size: 24px;
            margin: 20px 0 10px;
        }
        
        p, li {
            font-size: 16px;
            line-height: 1.5;
        }
        
        ul, ol {
            margin-left: 20px;
        }
        
        ul ul {
            list-style-type: circle;
            margin-left: 20px;
        }
    }
}