<main>
    <section class="auth-section">
        <img src="assets/cat-logo.jpg"/>
        <h2>{{ mainTitle }}</h2>
        
        <ng-content>
        </ng-content>

        <div class="btn-wrapper">
            <button class="btn-primary" (click)="submit()" [disabled]="disablePrimaryBtn">
                {{ primaryBtnText }}
            </button>
            <div class="divider">
                <div></div>
                <span>or</span>
                <div></div>
            </div>
            <button class="btn-secondary" (click)="navigate()">
                {{ secondaryBtnText }}
            </button>
        </div>
    </section>

    <section class="main-section">
        <h1>GuessCAT Game</h1>
        <img src="assets/cat-principal-img.jpg"/>
    </section>
</main>