@import "../../../styles/variables.scss";

.input-wrapper {
    color: $text-color;
    text-align: start;

    label{
      display: block;
      margin-bottom: 8px;
    }

    .input-content {
        display: flex;
        width: 100%;
        border-radius: 8px;

        &:focus-within {
          outline: 1px solid $primary-color
        }

      input {
        border: none;
        border-radius: 8px 0 0 8px;

        background-color: $bg-secondary-color;

        width: 100%;
        padding: 12px 0 12px 20px;

        font-size: 0.8rem;
        color: $text-color;

        &:focus{
          outline: none;
        }
      }


    }
}
