<main>
  <app-user-asidebar
    (newGameEvent)="startGame()"
    (newHistoryEvent)="getMatchHistory()"
    [isGameStarted]="this.newGameButtonFLag"
  >
  </app-user-asidebar>

  <section class="main-section">
    @switch (this.contentFlag) {
      @case(ContentFlag.GAME) {
        <app-guesses
          (gameFinished)="onGameFinished()"
        ></app-guesses>
      }
      @case(ContentFlag.HISTORY) {
        <p>HISTORY</p>
      }
      @default {
        <p>Please click start a new game or click to view your match history.</p>
      }
    }
  </section>
</main>
