<app-auth-layout
mainTitle="Login into yout account!"
primaryBtnText="Login now!"
secondaryBtnText="Sign up now!"
[disablePrimaryBtn]="!loginForm.valid"
(submit)="submit()"
(navigate)="navigate()"
>
     <form [formGroup]="loginForm">
        <app-primary-input
            formControlName="username"
            inputName="username"
            type="text"
            autoComplete="username"
            label="Your username"
            placeholder="Type your username here!"
        >
            <div class="icon">
                <img src="/assets/username.svg" alt=""/>
            </div>
        </app-primary-input>
        <app-primary-input
            formControlName="password"
            inputName="password"
            type="password"
            autoComplete="current-password"
            label="Your password"
            placeholder="Type your password here!"
        >
            <div class="icon">
                <img src="/assets/password.svg" alt=""/>
            </div>
        </app-primary-input>
        <span>Forgot password?</span>
    </form>
</app-auth-layout>
