<app-auth-layout
mainTitle="Login into yout account!"
primaryBtnText="Login now!"
secondaryBtnText="Sign up now!"
>
     <form [formGroup]="loginForm">
        <app-primary-input
            formControlName="username"
            inputName="username"
            type="text"
            label="Username"
            placeholder="Type your username here!"
        >
            <div class="icon">
                <img src="/assets/username.svg"/>
            </div>
        </app-primary-input>
        <app-primary-input
            formControlName="password"
            inputName="password"
            type="password"
            label="Password"
            placeholder="Type your password here!"
        >
            <div class="icon">
                <img src="/assets/password.svg"/>
            </div>
        </app-primary-input>
        <span>Forgot password?</span>
    </form>
</app-auth-layout>