@use "../../../styles/variables.scss" as var;

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  height: 100%;
  width: 20vw;

  gap: 5rem;
  padding-top: 5rem;
}

.icon {
  padding: 0 12px;
  background-color: var.$primary-color;
  border-radius: 0 8px 8px 0;

  line-height: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}
