<app-auth-layout
mainTitle="Login into yout account!"
primaryBtnText="Login now!"
secondaryBtnText="Sign up now!"
[disablePrimaryBtn]="!loginForm.valid"
(submit)="submit()"
(navigate)="navigate()"
>
     <form [formGroup]="loginForm" class="login-form">
        <app-primary-input
            formControlName="username"
            inputName="username"
            type="text"
            autoComplete="username"
            label="Your username"
            placeholder="Type your username here!"
        >
            <div class="icon">
                <lucide-icon name="user" color="black"></lucide-icon>
            </div>
        </app-primary-input>
        <app-primary-input
            formControlName="password"
            inputName="password"
            type="password"
            autoComplete="current-password"
            label="Your password"
            placeholder="Type your password here!"
        >
            <div class="icon">
                <lucide-icon name="lock-keyhole" color="black"></lucide-icon>
            </div>
        </app-primary-input>
    </form>
</app-auth-layout>
