<section class="user-details-section">
    <div class="btn-wrapper">
        <h1>CAT: {{this.username}} </h1>

        <button class="btn-start-game" (click)="startGame()">
            New game
        </button>
        <div class="divider">
            <div></div>
            <span>or</span>
            <div></div>
        </div>
        <button class="btn-match-history" (click)="viewMatchHistory()">
            Match history
        </button>
    </div>
    <div class="btn-logout-container">
        <button class="btn-logout" (click)="logout()">
            Log out
        </button>
    </div>
</section>
