<section class="user-details-section">
    <div class="btn-wrapper">
        <h1>GUESSCAT GAME</h1>
        
        <button class="btn-start-game">
            New game
        </button>
        <div class="divider">
            <div></div>
            <span>or</span>
            <div></div>
        </div>
        <button class="btn-match-history">
            Match history
        </button>
    </div>
    <div class="btn-logout-container">
        <button class="btn-logout">
            Log out
        </button>
    </div>
</section>